body{
    padding: 10vh;
    min-height: 80vh;
    background: url(wallpaperflare.com.jpg) no-repeat center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    
    
}
.template{
    background-color: #0d1738ea;
    padding: 20px;
    border-radius: 10px;
    margin: 5vh;
}
.card{
    text-justify: auto;
    color: white;
}

.profil {
    text-justify: auto;
    color: white;
    font-size: 40px;
    background: linear-gradient(white);
}

.foto img{
    display: inline-block;
    padding: 10px;
    margin: auto;
    background-size: 200%;
    display: block;
    width: 400px;
    height: 300px;
    border-radius: 50%;
}

.about {
    margin-top: 5%;
    background-color: #387f8d;
    padding: 60px 20px;
    cursor: default;
    display: grid;
    grid-template-columns: 30% auto;
    font-size: 20px;
  }
  .about .image img {
    height: 300px;
    border-radius: 15%;
    margin: 0;
  }
  .about p,
  .about h2,
  .about table tr td {
    color: black;
  }
  .edu {
    padding: 40px 20px;
    font-size: 20px;
  }
  .edu table tr td {
    text-align: center;
    padding: 50px;
  }
  .edu table tr td p {
    margin: 0;
  }
  .edu-content {
    display: grid;
    grid-template-columns: 60% auto;
    margin-top: 20px;
  }
  .edu-content .image img,
  .skill-content .image img {
    height: 300px;
    margin: 0;
  }
  .skill-content {
    display: grid;
    grid-template-columns: 50% auto;
    margin-top: 20px;
  }
  .skill {
    background-color: #387f8d;
    padding: 40px 20px;
    color: #202429;
    font-size: 20px;
  }
  .skill h2,
  .skill table tr td {
    color: #202429;
  }
  .skill-content table {
    width: 80%;
  }
  .bar {
    margin: 10px 0 0 0;
    border-radius: 15px;
    width: 100%;
    background-color: #393e46;
  }
  .skill-bar {
    border-radius: 15px;
    padding: 20px;
    background-color: #6d8e98;
  }
  .skill-bar.web {
    width: 20%;
  }
  .skill-bar.network {
    width: 30%;
  }
  .skill-bar.design {
    width: 40%;
  }